/* Fonts */

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* General styles */

:root {
    --color-1: #442700;
    --color-2: #B5811E;
    --color-3: #E5E5AE;
    /* --color-4: #F5DEB3; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto-Light', sans-serif, serif;
    font-size: 24px;
    line-height: 34px;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #442700, #583608, #6d460d, #825712, #986817, #a57925, #b28a34, #bf9b42, #c7ae5c, #d0c177, #dad392, #e5e5ae);
}

::backdrop {
    background-color: #00000088;
  }


/* Layout */

.container {
    width: 100vw;
    min-width: 200px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
}

.container > .header {
    grid-area: 1 / 1 / 2 / 2;
    font-family: 'Roboto-Medium';
    font-size: 50px;
    color: var(--color-3);
    padding-left: 40px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.282);
}

.container > .main {
    grid-area: 2 / 1 / 3 / 2;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container > .footer {
    grid-area: 3 / 1 / 4 / 2;
}


/* Main div */

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: max-content;
    gap: 25px;
    width: 90%;
}

.book:not(.add) {
    border: var(--color-4) 1px solid;
    border-radius: 5px;
    padding: 10px;
    height: max(250px, fit-content);
    background-color: var(--color-4);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.5),
    0px 0px 100px 0px rgba(0, 0, 0, 0.5);
    /* box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.5); */
}

.book.add {
    /* background-color: rgba(255, 255, 255, 0.081); */
    font-family: 'Roboto-Thin';
    color: var(--color-3);
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: max(250px, fit-content);
    /* min-height: 200px; */
}

.book.add:hover {
    background-color: rgba(255, 255, 255, 0.197);

}

.book.add:hover > .add-book > .dialog {
    /* transform: rotate(45deg) scale(1.3); */
    transition: all 1s ease-in-out;
}

.book.add > .add-book > .dialog {
    transition: all 0.1s ease-in-out;
}


/* Slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}