* {
    margin: 0rem;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    height: calc(100% - 7px);
    width: calc(100% - 7px);
    display: grid;

}

.book {
    margin-bottom: 15px;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }