/* Fonts */

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* General styles */

:root {
    --line-height: calc(1.1rem + 0.5vw);
    --color-1: #F3EADA;
    --color-2: #4A8179;
    --color-3: #00C9B2;
    --color-4: #FFA17A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto-Light', sans-serif, serif;
    font-size: 14px;
    line-height: 20px;
}

body {
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }


/* Layout */

.container {
    /* height: 100%; */
    width: 100vw;
    min-width: 200px;
    display: grid;
    /* grid-template-rows: minmax(50px, fit-content) auto minmax(50px, fit-content); */
    grid-template-rows: 1fr auto 1fr;
}

.container > .header {
    grid-area: 1 / 1 / 2 / 2;
}

.container > .main {
    grid-area: 2 / 1 / 3 / 2;
    margin: 30px
}

.container > .footer {
    grid-area: 3 / 1 / 4 / 2;
}


/* Main div */

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: max-content;
    gap: 25px;
}

.book {
    border: var(--color-4) 1px solid;
    border-radius: 5px;
    padding: 10px;
    height: 200px;
    background-color: var(--color-4);
}


/* Slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}